{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <br>
        <div class="row">
        {% for row in output %}
        <div class="card">
            <div class="card-header">
                {{row.0}}
            </div>
            <div class="card-body">
                {{row.3}}
            </div>
            <blockquote class="blockquote mb-0">
                <footer class="blockquote-footer">{{row.1}}</footer>
            </blockquote>
        </div>
            {% endfor %}
        </div>
    </div>
    <style type='text/css'>
        #mydiv {
             border: dotted 3px black; 
             padding: 12px;
             width: 850px;
             text-align: center;
            }
        #submit{
            border: none;
            color: #fff;
            font-size: 17px;
            font-weight: 500;
            padding: 5px;
            border-radius: 6px;
            width: 100px;
            background-color: #4070f4;
        }
        .container
        {
            margin-right: 500px;
            margin-top: 250px;
        }
    </style>
	<script src="{% static 'js/script.js' %}"></script>
{% endblock content %}
