{% extends 'base.html' %}
{% load static %}
{% block content %}
   <div class="card">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <class="rp_no" id="rp_no"></class>
            <h5 class="rp_name" id="rp_name">Topic/Title</h5><br>
            <class="rp_author" id="rp_author">By Salutation.Someone</h5><br>
            <class="rp_year" id="rp_year">Published in <year></year></h5>
            <p class="card-text" id="desc">1 line from the abstract for a brief idea</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>
    &nbsp;&nbsp;
      
	<script src="{% static 'js/script.js' %}"></script>
{% endblock content %}
